.header{
	padding:auto;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width:auto;
  position:fixed;
  margin:auto;

}

.sidebar{
	background-color: #1abc9c;
	width: 25%;
  }

.maincontent{
	margin-left: 180px;
	text-align:left;
}
img {
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}