div {
	border:dotted;
	margin:5px;
}

#third > p {
	visibility:hidden;
}

h1 {
	display:none;
}

#first .left {
	visibility:hidden;
}
#second .right {
	visibility:hidden;
}

#second .right img {
	visibility:visible;
}